#!/usr/env zsh

if [[ "$OSTYPE" =~ ^darwin ]]; then
    # call valgrind with os x lion suppressions
    alias valgrind='valgrind --suppressions=/Users/stharding/.valgrind/darwin11.supp'

    # Show local and external ip addresses
    alias ip="echo 'local ip(s): '; ipconfig getifaddr en0 ; ipconfig getifaddr en1 ; echo 'extern: ' ; dig +short myip.opendns.com @resolver1.opendns.com"

    # Flush Directory Service cache
    alias flush="dscacheutil -flushcache"

    # prevent sleeping
    alias noidle="pmset noidle"

    # Show/hide hidden files in Finder
    alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
    alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

    # open shorthand
    alias o="open"
    alias oo="open ."
    
    # Textmate aliases
    alias mm="mate ."
    alias m="mate"

    alias vlc="/Applications/VLC.app/Contents/MacOS/VLC -I rc"    

    alias ls="ls -G -F -h"

    alias vnc="open -a /System/Library/CoreServices/Screen\ Sharing.app"

    alias cursor="tput cnorm"
else
    alias ls="ls --color -F -h"
fi

# command line speedtest
alias speed="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip"

# Limit ping to 5 pings
alias ping="ping -c 5"

# SSH Aliases
alias moons="ssh stharding@moons.cs.unm.edu"
alias trucks="ssh stharding@trucks.cs.unm.edu"
alias yuba="ssh stharding@yuba.cs.unm.edu"
alias unm="ssh sth2357@linux.unm.edu"
alias fordyce="ssh stharding@fordyce.cs.unm.edu"
alias adaptive="ssh stharding@adaptive.cs.unm.edu"
alias greenriver=" ssh stharding@greenriver"
alias rsub="rsub real"
alias real="ssh real"
alias prime="ssh prime"
alias realtunnel="ssh -f -N -L5005:127.0.0.1:5005 real"
alias rt="realtunnel"


# ls aliases
alias ll="ls -l"
alias la="ls -a"
alias lla="ls -al"
alias l="ls"
alias sl="ls" # because I am always doing this ...

#alias Attach='grabssh ; screen -d -R'
#alias fixssh='source $HOME/bin/fixssh'
#alias ssh='fixssh; ssh'

