# Open Man page in Preview
  pman() 
{
  man -t $@ | open -f -a /Applications/Preview.app
}

# Open man page in textmate
tman () 
{
  MANWIDTH=160 MANPAGER='col -bx' man $@ | mate
}

# Open man page in Sublime Text
sman()
{
    man $@ | col -b | open -f -a /Applications/Sublime\ Text\ 3.app/Contents/MacOS/Sublime\ Text
}

# launch a webserver that serves the current directory
# with the default port 8080 or whatever port is specified
# as an optional argument
serve()
{
  python -m SimpleHTTPServer ${1:-8080}
}

# add my RSA public key to the authorized_keys file on a remote machine
key()
{
  #printf "argc: $#\n"
  if [ -z $1 ]; then
    printf "USAGE: key HOST\n"
    printf "  where HOST is the remote host where you want to put your public key\n"
  else
    cat ~/.ssh/id_rsa.pub \
      | ssh $1 "mkdir .ssh 2>/dev/null; cat >> .ssh/authorized_keys"
    printf "put public key in .ssh/authorized_keys on $1\n"
  fi
}


# Create a new directory and enter it
#md()
#{
#  mkdir -p "$@" && cd "$@"
#}

# print to the CS Lab printer in FEC309
printlab()
{
  ssh stharding@moons "lp -d fec309" < "$1"
}

# returns a URL which contains the file given as an arg
sprunge()
{
  if [ -z $1 ]; then
    printf "USAGE:\n"
    printf "  sprunge FILE\n"
    printf "  the sprunge url will be in the system clipboard\n"
  else
    cat $1 | curl -F 'sprunge=<-' http://sprunge.us | tee >(pbcopy)
  fi
}

# Allows an arbitrary command to be executed and not show up in the history
# USAGE: quiet COMMAND ARGS
quiet()
{
  TMP=$(history | tail -1 | awk '{print $1}') && history -d $TMP && $@
}
